<div class="mat-typography">
  <mat-card [class.mat-elevation-z2]="true">
    <mat-card-header
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="1em"
    >
      <img
        mat-card-avatar
        src="/assets/avatars/{{participant.avatar_icon || '001'}}.svg"
        [ngStyle]="{'background-color': participant.avatar_color || '#CCC'}"
        (click)="chooseAvatar($event, participant)"
        id="avatar_{{participant.id}}"
      >
      <mat-card-title>
        {{participant.name}}
      </mat-card-title>
      <mat-card-subtitle>
        {{user.isSelf(participant)? 'You' : participant.relationship | titlecase}}
        <div
          *ngIf="participant.percent_complete < 1"
          class="mat-subheading-2"
        >
          <mat-progress-bar
            [mode]="'determinate'"
            [value]="participant.percent_complete * 100"
          ></mat-progress-bar>
        </div>
        <div
          *ngIf="participant.percent_complete >= 1"
          class="mat-subheading-2"
        >
          Profile Complete
        </div>
        <div
          fxLayout="column"
          fxLayoutGap="2em"
        >
          <div
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutAlign="start center"
            fxLayoutGap="10px"
          >
            <button
              mat-flat-button
              color="accent"
              (click)="goEditEnroll($event)"
              id="edit_enroll_{{participant.relationship}}_{{participant.id}}"
            >Edit {{participant.relationship === 'self_guardian' ? 'guardian'  : 'enrollment'}} info</button>
            <button
              mat-stroked-button
              (click)="goTerms($event)"
              id="view_terms_{{participant.relationship}}_{{participant.id}}"
            >Terms and Conditions</button>
          </div>

          <div
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayoutGap="1em"
          >
            <hr>
            <p *ngIf="participant.percent_complete < 1">
              In order to start training with SkillSTAR, please complete your DRIVE profile
            </p>
            <p *ngIf="participant.percent_complete >= 1">
              Start SkillSTAR to get expert-guided training in self-care and health related skills
            </p>
            <button
              id="skill-star-button"
              mat-flat-button
              [routerLink]="[ '/skillstar/menu/' + participant.id ]"
              [disabled]="participant.percent_complete < 1"
              color="primary"
            >Start SkillSTAR</button>
          </div>
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
